:root{
    --cor-de-fundo: #8400ff;
    --branco:#f3f3f37a;
    --verde:#69b900;
    --botao-ativo:#000000;
    --botao-inativo:rgba(70, 153, 221, 0.5);
    --texto-fundo:rgba(58,55,94, 0.3);

}


body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family:'Chakra Petch',sans-serif
}